## First Assignment

#### 1) Apply the appropriate string methods to the **x** variable (as '.upper') to change it exactly to: "$Dichlorodiphenyltrichloroethane$".

In [ ]:
x = "DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe"

In [2]:
x = "DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe"
x[32:68].lower().replace(" ", "").capitalize()

'Dichlorodiphenyltrichloroethane'

#### 2) Assign respectively the values: 'word', 15, 3.14 and 'list' to variables A, B, C and D in a single line of code. Then, print them in that same order on a single line separated by a space, using only one print statement.

In [27]:
A, B, C, D = "word", 15, 3.14, "list"

print(A, B, C, D)

word 15 3.14 list

#### 3) Use the **input()** function to receive an input in the form **'68.4 1.71'**, that is, two floating point numbers in a line separated by space. Then, assign these numbers to the variables **w** and **h** respectively, which represent an individual's weight and height (hint: take a look at the '.split()' method). With this data, calculate the individual's Body Mass Index (BMI) from the following relationship: 
    
\begin{equation}
BMI = \dfrac{weight}{height^2}
\end{equation}

In [3]:
w, h = map(float, input("Enter your weight and height: ").split())
bmi = w / (h * h)
print("Your BMI is " + str(round(bmi, 1)))

Enter your weight and height: 55 1.66
Your BMI is 20.0

#### This value can also be classified according to ranges of values, following to the table below. Use conditional structures to classify and print the classification assigned to the individual. 

<center><img src="https://healthtravelguide.com/wp-content/uploads/2020/06/Body-mass-index-table.png" width="30%"><\center>  


(source: https://healthtravelguide.com/bmi-calculator/)

In [5]:
w, h = map(float, input("Enter your weight and height: ").split())
bmi = w / (h * h)

if (bmi < 18.5):
    print("Underweight")
elif(bmi >= 25.0 and bmi <= 29.9):
    print("Pre-obesity")
elif(bmi >= 30.0 and bmi <= 34.9):
    print("Obesity class I")
elif(bmi >= 35.0 and bmi <= 39.9):
    print("Obesity class II")
elif(bmi > 40):
    print("Obesity class III")
else:
    print("Normal weight")

Enter your weight and height: 55 1.66
Normal weight

#### 4) Receive an integer as an input and, using a loop, calculate the factorial of this number, that is, the product of all the integers from one to the number provided.

In [6]:
num = int(input("Enter a number:"))

f = 1

for i in range(1, num + 1):
    f = f * i

print(f)

Enter a number:6
720

#### 5) Using a while loop and the input function, read an indefinite number of integers until the number read is -1. Present the sum of all these numbers in the form of a print, excluding the -1 read at the end.

In [7]:
inputs = input("Enter Number: ")
list = []

while int(inputs) != -1:
    list.append(inputs)
    inputs = input("Enter Num: ")
print(list)

Enter Number: 6
Enter Num: 6
Enter Num: -1
['6', '6']

#### 6) Read the **first name** of an employee, his **amount of hours worked** and the **salary per hour** in a single line separated by commas. Next, calculate the **total salary** for this employee and show it to two decimal places.

In [8]:
employee = {
    "first_name": "Joe",
    "hours_worked": 304,
    "hourly_wage": 24
}

print(employee)

total_salary = employee["hours_worked"] * employee["hourly_wage"]

print(round(total_salary, 2))

{'first_name': 'Joe', 'hours_worked': 304, 'hourly_wage': 24}
7296

#### 7) Read three floating point values **A**, **B** and **C** respectively. Then calculate itens a, b, c, d and e:

In [9]:
A, B, C = map(float, input("Enter decimal numbers: ").split())

Enter decimal numbers: 6.6 5.5 3.3

    a) the area of the triangle rectangle with A as the base and C as the height.

In [10]:
A, C = map(float, input("Enter base and height: ").split())

area = (A * C) / 2 

print("The area of this triangle is: " + str(area))

Enter base and height: 4 5
The area of this triangle is: 10.0

    b) the area of the circle of radius C. (pi = 3.14159)

In [11]:
C = float(input("Enter radius: "))

import math
area = (C * C) * math.pi

print("The area of this circle is: " + str(area))

Enter radius: 5
The area of this circle is: 78.53981633974483

    c) the area of the trapezoid that has A and B for bases and C for height.

In [12]:
A, B, C = map(float, input("Enter bases and height: ").split())

area = ((A + B) / 2) * C 

print("The area of this trapezoid is: " + str(area))

Enter bases and height: 6 5 4
The area of this trapezoid is: 22.0

    d) the area of the square that has side B.

In [13]:
B = float(input("Enter side: "))

area = B * B

print("The area of this square is: " + str(area))

Enter side: 4
The area of this square is: 16.0

    e) the area of the rectangle that has sides A and B.

In [14]:
A, B = map(float, input("Enter base and height: ").split())

area = A * B

print("The area of this rectangle is: " + str(area))

Enter base and height: 3 5
The area of this rectangle is: 15.0

#### 8) Read **the values a, b and c** and calculate the **roots of the second degree equation** $ax^{2}+bx+c=0$ using [this formula](https://en.wikipedia.org/wiki/Quadratic_equation). If it is not possible to calculate the roots, display the message **“There are no real roots”**.

In [16]:
import cmath

a, b, c = map(float, input("Enter numbers: ").split())

d = (b**2) - (4 *a * c)

r1 = (-b - cmath.sqrt(d)) / (2 * a)
r2 = (-b + cmath.sqrt(d)) / (2 * a)

if(d < 0):
    print("There are no real roots")
else:
    print(r1, r2)

Enter numbers: 2 1 1
There are no real roots

#### 9) Read four floating point numerical values corresponding to the coordinates of two geographical coordinates in the cartesian plane. Each point will come in a line with its coordinates separated by space. Then calculate and show the distance between these two points. 

(obs: $d=\sqrt{(x_1-x_2)^2 + (y_1-y_2)^2}$)

In [17]:
import math

p1 = []
p2 = []

x1, y1 = map(float, input("Enter first point coordinates: ").split())
x2, y2 = map(float, input("Enter second point coordinates: ").split())

p1.append(x1)
p1.append(y1)
p2.append(x2)
p2.append(y2)

distance = math.sqrt(((p1[0] - p2[0])**2) + ((p1[1] - p2[1])**2))

print(distance)

Enter first point coordinates: 5 6
Enter second point coordinates: 3 5
2.23606797749979

#### 10) Read **two floating point numbers** on a line that represent **coordinates of a cartesian point**. With this, use **conditional structures** to determine if you are at the origin, printing the message **'origin'**; in one of the axes, printing **'x axis'** or **'y axis'**; or in one of the four quadrants, printing **'q1'**, **'q2**', **'q3'** or **'q4'**.

In [22]:
x, y  = map(float, input("Enter x-value and y-value: ").split())

if x > 0 and y > 0:
    print("q1")
elif x < 0 and y > 0:
    print("q2")
elif x < 0 and y < 0:
    print("q3")
elif x > 0 and y < 0:
    print("q4")
else: 
    print("origin")

Enter x-value and y-value: 1 -4
q4

#### 11) Read an integer that represents a phone code for international dialing.  
#### Then, inform to which country the code belongs to, considering the generated table below:
(You just need to consider the first 10 entries)

In [9]:
import pandas as pd
df = pd.read_html('https://en.wikipedia.org/wiki/Telephone_numbers_in_Europe')[1]
df = df.iloc[:,:2]
df.head(20)

           Country Country calling code
0          Austria                   43
1          Belgium                   32
2         Bulgaria                  359
3          Croatia                  385
4           Cyprus                  357
5   Czech Republic                  420
6          Denmark                   45
7          Estonia                  372
8          Finland                  358
9           France                   33
10         Germany                   49
11          Greece                   30
12         Hungary                   36
13         Iceland                  354
14         Ireland                  353
15           Italy                   39
16          Latvia                  371
17   Liechtenstein                  423
18       Lithuania                  370
19      Luxembourg                  352

In [23]:
n = int(input("Enter phone code: "))

if(n == 43):
    print("Austria")
elif(n == 32):
    print("Belgium")
elif(n == 359):
    print("Bulgaria")
elif(n == 385):
    print("Croatia")
elif(n == 357):
    print("Cyprus")
elif(n == 420):
    print("Czech Republic")
elif(n == 45):
    print("Denmark")
elif(n == 372):
    print("Estonia")
elif(n == 358):
    print("Finland")
elif(n == 33):
    print("France")

Enter phone code: 33
France

#### 12) Write a piece of code that reads 6 numbers in a row. Next, show the number of positive values entered. On the next line, print the average of the values to one decimal place.

In [ ]:
inputs = float(input("Enter Number: "))
list = []

while len(list) < 5:
    list.append(inputs)
    inputs = float(input("Enter Num: "))

pos_count = 1

for num in list:
    if num >= 0:
        pos_count += 1

print("number of positive numbers", pos_count)
print("average of values", round(sum(list) / len(list), 1))

#### 13) Read an integer **N**. Then print the **square of each of the even values**, from 1 to N, including N, if applicable, arranged one per line.

In [ ]:
n = int(input("Enter Number: "))

for n in range(1, n + 1):
    if n % 2 == 0:
        print(n * n)

#### 14) Using **input()**, read an integer and print its classification as **'even / odd'** and **'positive / negative'** . The two classes for the number must be printed on the same line separated by a space. In the case of zero, print only **'null'**.

In [ ]:
n = int(input("Enter a number: "))

if(n < 0 and n%2 != 0):
    print("negative odd")
elif(n > 0 and n%2 == 0):
    print("positive even")
elif(n < 0 and n%2 == 0):
    print("negative even")
elif(n > 0 and n%2 != 0):
    print("positive odd")
elif(n == 0):
    print("null")

## Challenge
#### 15) Ordering problems are recurrent in the history of programming. Over time, several algorithms have been developed to fulfill this function. The simplest of these algorithms is the [**Bubble Sort**](https://en.wikipedia.org/wiki/Bubble_sort), which is based on comparisons of elements two by two in a loop of passes through the elements. Your mission, if you decide to accept it, will be to input six whole numbers ramdonly ordered. Then implement the **Bubble Sort** principle to order these six numbers **using only loops and conditionals**.  
#### At the end, print the six numbers in ascending order on a single line separated by spaces.

In [ ]:
inputs = int(input("Enter Number: "))
list = []

while len(list) < 6:
    list.append(inputs)
    inputs = int(input("Enter Number: "))
 
count = len(list)
 
for outer in range(count - 1):
    for i in range(count - outer - 1):
        if list[i] > list[i + 1]:
            list[i], list[i + 1] = list[i + 1], list[i]
 
print(*list)